*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(8, 51, 86);
}
#heading{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.turns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 50px;
}
.turns div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.turns div img:hover{
    border: 2px solid black;
}
.turns div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.scores{
    display: flex;
    justify-content: center;
    color: white;
    gap: 100px;
    margin-top: 40px;
}
.scores p{
    font-size:35px;

}
#userscore{
    text-align:center;
}
#compscore{
    text-align: center;
    padding-left: 200px;
}

#start-button-cont {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}
#start-button{
   text-align: center;
   background-color: rgb(12, 23, 23);
   border-radius: 25px;
   padding: 5px;
   width: 300px;
   color: white;
   font-size: 30px;
   
}

@media (max-width:425px){
  .turns{
    flex-wrap: wrap;
    margin-left:105px;
    gap: 20px;
    margin-top: 35px;
  }
  #heading{
   width:478px;
  }
  .scores{
    margin-left: 78px;
    gap: 0;
  }
  #start-button-cont{
margin-bottom: 30px;
  }
  #start-button{
    width: 182px;
    margin-left: 53px;
  }
  .turns div{
    width:145px;
    height: 145px;
  }
  #compscore {
    text-align: center;
    padding-left: 143px;
}
}
@media (max-width:320px){
    #compscore {
        padding-left: 88px;
    }
    #start-button{
        margin-left:98px;
    }
}